@media screen {
  
  html, body {
  height: 100%;
}


@font-face {
  font-family: "AT Apoc";
  src: url("fonts/AT Apoc Revelations.ttf");
}

body {
  background-color: #000000;
  margin: 0;
  font-family: Helvetica, sans-serif;;
  overflow: hidden;
}

a {
  color: #ffffff;
}



#info {
  position: relative;
  width: 100%; 
  height: 15%; 
  background-position:center;
  background-repeat:no-repeat;
  background-image:url("name2.png");
  background-size:contain;
  z-index: 999999;
}

#menu {
  position: absolute;
  bottom: 1%;
  left: 0%;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.element {
  width: 350px;
  height: 350px;
  text-align: center;
  cursor: pointer;
  
}

.element:hover {
  box-shadow: 0px 0px 12px rgba(228, 228, 228, 0.75);
  border: 1.3px solid rgb(0, 238, 255);
}

.element .symbol {
  position: absolute;
  top: 220px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-family: 'AT Apoc', serif;
  font-weight: lighter;
  font-size: 90px;
  
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.95);
  
}

.element .details {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-family: 'AT Apoc', serif;
  font-weight: lighter;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.75);
  z-index:-1;
}

.page {
  position: absolute;
  top: 10%; left: 10%;
  bottom: 10%; right: 8%;
  padding: 1em;
  background: rgb(0, 0, 0);
  z-index: 9999999;
  box-sizing: border-box;
  display: none;
  font-family: "AT Apoc", serif;
  font-weight: lighter;
  font-size: 53px;
  border: 3px solid rgb(103, 47, 255);
  box-shadow: 0px 0px 40px rgba(25, 255, 255, 0.8);
}
.page > div:first-child {
  position: absolute;
  top: 0.03em; left: 1em; 
  bottom: 0.03em; right: 0.2em;
  overflow-y: auto; 
}

p.text {
  color: #ffffff;
  padding-right: 0.9em;
}
p.chapter {
  color: #000000;
  font-style: normal;
  padding-right: 0.9em; 
  
}
p.phrase {
  color: #000000;
  font-style: italic;
  padding-right: 0.9em; 
  
}
a.phrase {
  color: #000000;
  font-style: italic;
  padding-right: 0em; 
  
}

@supports 
  ((-webkit-text-stroke-color: #666)
  and
  (-webkit-text-fill-color: white))
  or
  ((-moz-text-stroke-color: #666)
  and
  (-moz-text-fill-color: white)) {
  p.phrase {
       -moz-text-fill-color: rgb(0, 0, 0);
    -webkit-text-fill-color: rgb(0, 0, 0);
       -moz-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-color: rgb(255, 255, 255);
       -moz-text-stroke-width: 0.005em;  
    -webkit-text-stroke-width: 0.005em;
  }
  a.phrase {
    -moz-text-fill-color: rgb(0, 0, 0);
 -webkit-text-fill-color: rgb(0, 0, 0);
    -moz-text-stroke-color: rgb(255, 255, 255);
 -webkit-text-stroke-color: rgb(255, 255, 255);
    -moz-text-stroke-width: 0.005em;  
 -webkit-text-stroke-width: 0.005em;
}
p.chapter {
  -moz-text-fill-color: rgb(0, 0, 0);
-webkit-text-fill-color: rgb(0, 0, 0);
  -moz-text-stroke-color: rgb(255, 255, 255);
-webkit-text-stroke-color: rgb(255, 255, 255);
  -moz-text-stroke-width: 0.005em;  
-webkit-text-stroke-width: 0.005em;
}
  a.footnote {
    font-size: 27px;
    font-weight: normal;
    color: #ffffff;
    vertical-align: 99%;
  }
  a.footnote2 {
    font-size: 27px;
    font-weight: normal;
    color: #ffffff;
    display: block;
    line-height: 1.3;
  }
 
  .url{
    font-size: 27px;
    font-weight: normal;
    color: #ffffff;
    display: block;
    line-height: 1.3;
  }

  p.imagecapture {
    font-size: 27px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
  }
  .photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #video{
    margin-left: 25%;
    width: 768px;
    height: 432px;
  }
  .image-frame{
    border: 3px solid rgb(103, 47, 255);
    box-shadow: 0px 0px 40px rgba(25, 255, 255, 0.8);
  }


  ::-webkit-scrollbar {
    width: 12px;
    
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3); 
            box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3); 
  }
  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5); 
            box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5); 
  }

  .page .btn-close {
    position: absolute;
    top: 0em; right: 0.6em;
    width: 0.8em;
    height: 2.3em;
    display: inline-block;
  }

  .page .btn-close:after {
    content: "x"; 
    color: #ffffff;
    font-size: 0.5em;
    position: relative;
    top: -0.6em; right: -0.8em;

  }

  .cover .cover_1a .cover_1b .cover_2a .cover_2b .cover_3a .cover_3b .cover_4a .cover_4b .cover_5a .cover_5b{
    display: none !important;
  }

  .cover_10 .cover_6a .cover_6b .cover_7a .cover_7b .cover_8a .cover_8b .cover_9a .cover_9b {
    display: none !important;
  }



  button {
    color: rgba(255, 255, 255);
    background: transparent;
    border: 0px;
    padding: 5px 25px;
    cursor: pointer;
    font-family: 'AT Apoc', serif;
    font-weight: lighter;
    font-size: 350%;
    
    
  }
  button:hover {
    outline: 1px solid rgba(0, 238, 255,0.75);
  }
  button:active {
    color: #c4c4c4;
    background-color: rgba(0, 238, 255,0.75);
    
  }

  .miniatura {
    opacity: 0.8;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
}





@media print {


   body {
    color: #000;
    margin: 0px; 
  }
  
  @font-face {
    font-family: "AT Apoc";
    src: url("fonts/AT Apoc Revelations.ttf");
  }

  .cover .cover_1a .cover_1b .cover_2a .cover_2b .cover_3a .cover_3b .cover_4a .cover_4b .cover_5a .cover_5b{
    max-width: 100%;
    width: 100%;
    
  }

  .cover_10 .cover_6a .cover_6b .cover_7a .cover_7b .cover_8a .cover_8b .cover_9a .cover_9b {
    max-width: 100%;
    width: 100%;
  }
  @page {
    margin: 10mm;
}
.page {
  size: auto;
  display: block !important;  
  box-sizing: border-box;
  margin-left: 1cm;
  margin-right: 1.5cm;
  word-wrap: break-word;
font-family: "AT Apoc", serif;
font-weight: lighter;
font-size: 25px;
page-break-before: always;
page-break-after: always;
  }
  

  p.text {
    color: #000000;
    margin-left: 17%;
    
  }
  p.chapter {
    color: #000000;
    font-style: bold;  
  }
  p.phrase {
    color: #000000;
    font-style: italic;
    margin-right: 28%;

  }
  
  a.footnote {
    font-size: 10px;
    font-weight: normal;
    color: #000000;
    vertical-align: 98%;
  }

  a.footnote2 {
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    display: block;
    line-height: 1.3;
  }
 
  .url{
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    display: block;
    line-height: 1.3;
  }

  p.imagecapture {
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    color: #000000;
  }

  
  img {
    max-width: 100%;
    width: 100%;
    }

   

    .element {
      display: none !important;
      overflow: hidden;
    }

    #container {
      display: none !important;
   }

    #menu{
      display: none !important;
   }

   #video{
    display: none !important;
  }
    
}

